* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #111;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monospace;
}

h1 {
  font-size: 48px;
  margin: 40px;
  overflow: hidden;
}

h1 span {
  display: inline-block;
}